body{
    background-image: url("https://wallpapersite.com/images/wallpapers/lines-2880x1440-light-blue-minimal-lg-v30-stock-hd-9697.jpg");
    background-size: cover;
}

.jum1{
    background-color: rgba(240, 248, 255, 0.308);
    margin-top: 20px;
}

.jum2{
    background-color: rgba(240, 248, 255, 0.527);
    padding-bottom: 20px;
    padding-top: 5px;
    margin-top: 10px;
}



